<table class="table table-bordered">
  <% @results.each do |result| %>
    <tr>
      <td>
        <%= result.trainer %>
      </td>
      <td>
        <%= result.group %>
      </td>
      <td>
        <%= result.area %>
      </td>
    </tr>
  <% end %>
</table>
